.board {
  background-color: black;
  border-style: solid;
  border-color: yellow;
  color: white;
  height: 90vh;
  /* min-height: 600px; */
}

.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto auto auto; */
  justify-content: flex;
  gap: 1px;
  padding: 2px;
}

.grid-container > div {
  text-align: center;
  font-size: x-small;
  height: 7vh 
  /* display: inline-block; */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}

.fastForward {
  border-radius: 10px;
  border: 1px solid
}