.board {
  position:relative;
  background-color: black;
  border-style: solid;
  border-color: yellow;
  color: white;
  height: 90vh;
  align-items: center;
  /* min-height: 600px; */
}

.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto auto auto; */
  justify-content: flex;
  gap: 1px;
  padding: 2px;
}

.grid-container > div {
  text-align: center;
  font-size: x-small;
  height: 7vh 
  /* display: inline-block; */
}

.fastForward {
  border-radius: 10px;
}

.header {
  display:grid;
  grid-template-columns: auto auto;
}

.right-menu-items {
  display: flex;
  margin-top: 0px;
  margin-left:auto;
  margin-right: 0px;
}
.right-menu-items > * {
  padding: 5px;
}

.welcome {
  justify-content: center;
  width: 100%;
  color: white;
  text-align: center;
}

.leaderboard {
  display:none;
  background-color: white;
  /* position: absolute; */
  width: fit-content;
  align-items: center;
  margin: auto;
  width: 50%;

}